@use 'core/reset';

.header {
    display: flex;
    padding-top: 35px;
    justify-content: center;

    &-buttons {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

.userList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 30px;
}

.user {
    background-color: aquamarine;
}

.friend {
    background-color: pink;
}

.setBttn {
    background-color: aquamarine;
}
.recoverBttn {
    background-color: aquamarine;
}

